@import "tailwindcss";

/* full list of colors: https://catppuccin.com/docs/palette */
/* sample css from: https://github.com/thomasweitzel/frontend-mentor/blob/main/color-theme-toggle/src/App.css */

@theme {
  /* latte theme */
  --color-*: initial;

  --color-rosewater: var(--color-rosewater-500);
  --color-flamingo: var(--color-flamingo-500);
  --color-pink: var(--color-pink-500);
  --color-mauve: var(--color-mauve-500);
  --color-red: var(--color-red-500);
  --color-maroon: var(--color-maroon-500);
  --color-peach: var(--color-peach-500);
  --color-yellow: var(--color-yellow-500);
  --color-green: var(--color-green-500);
  --color-teal: var(--color-teal-500);
  --color-sky: var(--color-sky-500);
  --color-sapphire: var(--color-sapphire-500);
  --color-blue: var(--color-blue-500);
  --color-lavender: var(--color-lavender-500);

  --color-rosewater-50: rgb(234.25, 215.25, 213.75);
  --color-rosewater-100: rgb(231.4, 199.8, 195);
  --color-rosewater-200: rgb(228.55, 184.35, 176.25);
  --color-rosewater-300: rgb(225.7, 168.9, 157.5);
  --color-rosewater-400: rgb(222.85, 153.45, 138.75);
  --color-rosewater-500: rgb(220, 138, 120);
  --color-rosewater-600: rgb(187, 117.3, 102);
  --color-rosewater-700: rgb(154, 96.6, 84);
  --color-rosewater-800: rgb(121, 75.9, 66);
  --color-rosewater-900: rgb(88, 55.2, 48);
  --color-rosewater-950: rgb(55, 34.5, 30);
  --color-flamingo-50: rgb(234.5, 210.75, 213.75);
  --color-flamingo-100: rgb(231.8, 192.6, 195);
  --color-flamingo-200: rgb(229.1, 174.45, 176.25);
  --color-flamingo-300: rgb(226.4, 156.3, 157.5);
  --color-flamingo-400: rgb(223.7, 138.15, 138.75);
  --color-flamingo-500: rgb(221, 120, 120);
  --color-flamingo-600: rgb(187.85, 102, 102);
  --color-flamingo-700: rgb(154.7, 84, 84);
  --color-flamingo-800: rgb(121.55, 66, 66);
  --color-flamingo-900: rgb(88.4, 48, 48);
  --color-flamingo-950: rgb(55.25, 30, 30);
  --color-pink-50: rgb(237.75, 210.25, 234.5);
  --color-pink-100: rgb(237, 191.8, 228.2);
  --color-pink-200: rgb(236.25, 173.35, 221.9);
  --color-pink-300: rgb(235.5, 154.9, 215.6);
  --color-pink-400: rgb(234.75, 136.45, 209.3);
  --color-pink-500: rgb(234, 118, 203);
  --color-pink-600: rgb(198.9, 100.3, 172.55);
  --color-pink-700: rgb(163.8, 82.6, 142.1);
  --color-pink-800: rgb(128.7, 64.9, 111.65);
  --color-pink-900: rgb(93.6, 47.2, 81.2);
  --color-pink-950: rgb(58.5, 29.5, 50.75);
  --color-mauve-50: rgb(213.25, 195, 243.5);
  --color-mauve-100: rgb(197.8, 167.4, 242.6);
  --color-mauve-200: rgb(182.35, 139.8, 241.7);
  --color-mauve-300: rgb(166.9, 112.2, 240.8);
  --color-mauve-400: rgb(151.45, 84.6, 239.9);
  --color-mauve-500: rgb(136, 57, 239);
  --color-mauve-600: rgb(115.6, 48.45, 203.15);
  --color-mauve-700: rgb(95.2, 39.9, 167.3);
  --color-mauve-800: rgb(74.8, 31.35, 131.45);
  --color-mauve-900: rgb(54.4, 22.8, 95.6);
  --color-mauve-950: rgb(34, 14.25, 59.75);
  --color-red-50: rgb(231.75, 184.5, 198);
  --color-red-100: rgb(227.4, 150.6, 169.8);
  --color-red-200: rgb(223.05, 116.7, 141.6);
  --color-red-300: rgb(218.7, 82.8, 113.4);
  --color-red-400: rgb(214.35, 48.9, 85.2);
  --color-red-500: rgb(210, 15, 57);
  --color-red-600: rgb(178.5, 12.75, 48.45);
  --color-red-700: rgb(147, 10.5, 39.9);
  --color-red-800: rgb(115.5, 8.25, 31.35);
  --color-red-900: rgb(84, 6, 22.8);
  --color-red-950: rgb(52.5, 3.75, 14.25);
  --color-maroon-50: rgb(236.75, 198, 204.5);
  --color-maroon-100: rgb(235.4, 172.2, 180.2);
  --color-maroon-200: rgb(234.05, 146.4, 155.9);
  --color-maroon-300: rgb(232.7, 120.6, 131.6);
  --color-maroon-400: rgb(231.35, 94.8, 107.3);
  --color-maroon-500: rgb(230, 69, 83);
  --color-maroon-600: rgb(195.5, 58.65, 70.55);
  --color-maroon-700: rgb(161, 48.3, 58.1);
  --color-maroon-800: rgb(126.5, 37.95, 45.65);
  --color-maroon-900: rgb(92, 27.6, 33.2);
  --color-maroon-950: rgb(57.5, 17.25, 20.75);
  --color-peach-50: rgb(242.75, 205.75, 186.5);
  --color-peach-100: rgb(245, 184.6, 151.4);
  --color-peach-200: rgb(247.25, 163.45, 116.3);
  --color-peach-300: rgb(249.5, 142.3, 81.2);
  --color-peach-400: rgb(251.75, 121.15, 46.1);
  --color-peach-500: rgb(254, 100, 11);
  --color-peach-600: rgb(215.9, 85, 9.35);
  --color-peach-700: rgb(177.8, 70, 7.7);
  --color-peach-800: rgb(139.7, 55, 6.05);
  --color-peach-900: rgb(101.6, 40, 4.4);
  --color-peach-950: rgb(63.5, 25, 2.75);
  --color-yellow-50: rgb(235, 216.25, 191);
  --color-yellow-100: rgb(232.6, 201.4, 158.6);
  --color-yellow-200: rgb(230.2, 186.55, 126.2);
  --color-yellow-300: rgb(227.8, 171.7, 93.8);
  --color-yellow-400: rgb(225.4, 156.85, 61.4);
  --color-yellow-500: rgb(223, 142, 29);
  --color-yellow-600: rgb(189.55, 120.7, 24.65);
  --color-yellow-700: rgb(156.1, 99.4, 20.3);
  --color-yellow-800: rgb(122.65, 78.1, 15.95);
  --color-yellow-900: rgb(89.2, 56.8, 11.6);
  --color-yellow-950: rgb(55.75, 35.5, 7.25);
  --color-green-50: rgb(195.25, 220.75, 194.5);
  --color-green-100: rgb(169, 208.6, 164.2);
  --color-green-200: rgb(142.75, 196.45, 133.9);
  --color-green-300: rgb(116.5, 184.3, 103.6);
  --color-green-400: rgb(90.25, 172.15, 73.3);
  --color-green-500: rgb(64, 160, 43);
  --color-green-600: rgb(54.4, 136, 36.55);
  --color-green-700: rgb(44.8, 112, 30.1);
  --color-green-800: rgb(35.2, 88, 23.65);
  --color-green-900: rgb(25.6, 64, 17.2);
  --color-green-950: rgb(16, 40, 10.75);
  --color-teal-50: rgb(185, 217.25, 222);
  --color-teal-100: rgb(152.6, 203, 208.2);
  --color-teal-200: rgb(120.2, 188.75, 194.4);
  --color-teal-300: rgb(87.8, 174.5, 180.6);
  --color-teal-400: rgb(55.4, 160.25, 166.8);
  --color-teal-500: rgb(23, 146, 153);
  --color-teal-600: rgb(19.55, 124.1, 130.05);
  --color-teal-700: rgb(16.1, 102.2, 107.1);
  --color-teal-800: rgb(12.65, 80.3, 84.15);
  --color-teal-900: rgb(9.2, 58.4, 61.2);
  --color-teal-950: rgb(5.75, 36.5, 38.25);
  --color-sky-50: rgb(180.25, 222, 241);
  --color-sky-100: rgb(145, 210.6, 238.6);
  --color-sky-200: rgb(109.75, 199.2, 236.2);
  --color-sky-300: rgb(74.5, 187.8, 233.8);
  --color-sky-400: rgb(39.25, 176.4, 231.4);
  --color-sky-500: rgb(4, 165, 229);
  --color-sky-600: rgb(3.4, 140.25, 194.65);
  --color-sky-700: rgb(2.8, 115.5, 160.3);
  --color-sky-800: rgb(2.2, 90.75, 125.95);
  --color-sky-900: rgb(1.6, 66, 91.6);
  --color-sky-950: rgb(1, 41.25, 57.25);
  --color-sapphire-50: rgb(187.25, 220.5, 229);
  --color-sapphire-100: rgb(156.2, 208.2, 219.4);
  --color-sapphire-200: rgb(125.15, 195.9, 209.8);
  --color-sapphire-300: rgb(94.1, 183.6, 200.2);
  --color-sapphire-400: rgb(63.05, 171.3, 190.6);
  --color-sapphire-500: rgb(23, 146, 153);
  --color-sapphire-600: rgb(27.2, 135.15, 153.85);
  --color-sapphire-700: rgb(22.4, 111.3, 126.7);
  --color-sapphire-800: rgb(17.6, 87.45, 99.55);
  --color-sapphire-900: rgb(12.8, 63.6, 72.4);
  --color-sapphire-950: rgb(8, 39.75, 45.25);
  --color-blue-50: rgb(186.75, 206.25, 245);
  --color-blue-100: rgb(155.4, 185.4, 245);
  --color-blue-200: rgb(124.05, 164.55, 245);
  --color-blue-300: rgb(92.7, 143.7, 245);
  --color-blue-400: rgb(61.35, 122.85, 245);
  --color-blue-500: rgb(30, 102, 245);
  --color-blue-600: rgb(25.5, 86.7, 208.25);
  --color-blue-700: rgb(21, 71.4, 171.5);
  --color-blue-800: rgb(16.5, 56.1, 134.75);
  --color-blue-900: rgb(12, 40.8, 98);
  --color-blue-950: rgb(7.5, 25.5, 61.25);
  --color-lavender-50: rgb(207.75, 214.5, 247);
  --color-lavender-100: rgb(189, 198.6, 248.2);
  --color-lavender-200: rgb(170.25, 182.7, 249.4);
  --color-lavender-300: rgb(151.5, 166.8, 250.6);
  --color-lavender-400: rgb(132.75, 150.9, 251.8);
  --color-lavender-500: rgb(114, 135, 253);
  --color-lavender-600: rgb(96.9, 114.75, 215.05);
  --color-lavender-700: rgb(79.8, 94.5, 177.1);
  --color-lavender-800: rgb(62.7, 74.25, 139.15);
  --color-lavender-900: rgb(45.6, 54, 101.2);
  --color-lavender-950: rgb(28.5, 33.75, 63.25);
  --color-text: rgb(76, 79, 105);
  --color-subtext1: rgb(92, 95, 119);
  --color-subtext0: rgb(108, 111, 133);
  --color-overlay2: rgb(124, 127, 147);
  --color-overlay1: rgb(140, 143, 161);
  --color-overlay0: rgb(156, 160, 176);
  --color-surface2: rgb(172, 176, 190);
  --color-surface1: rgb(188, 192, 204);
  --color-surface0: rgb(204, 208, 218);
  --color-base: rgb(239, 241, 245);
  --color-mantle: rgb(230, 233, 239);
  --color-crust: rgb(220, 224, 232);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  /* Mocha theme */
  [data-theme="dark"] {
    /* mocha theme */
    --color-rosewater-50: rgb(252.5, 247.25, 246.25);
    --color-rosewater-100: rgb(251, 242.6, 241);
    --color-rosewater-200: rgb(249.5, 237.95, 235.75);
    --color-rosewater-300: rgb(248, 233.3, 230.5);
    --color-rosewater-400: rgb(246.5, 228.65, 225.25);
    --color-rosewater-500: rgb(245, 224, 220);
    --color-rosewater-600: rgb(212.75, 194.9, 193.9);
    --color-rosewater-700: rgb(180.5, 165.8, 167.8);
    --color-rosewater-800: rgb(148.25, 136.7, 141.7);
    --color-rosewater-900: rgb(116, 107.6, 115.6);
    --color-rosewater-950: rgb(83.75, 78.5, 89.5);
    --color-flamingo-50: rgb(251.75, 242.5, 242.5);
    --color-flamingo-100: rgb(249.8, 235, 235);
    --color-flamingo-200: rgb(247.85, 227.5, 227.5);
    --color-flamingo-300: rgb(245.9, 220, 220);
    --color-flamingo-400: rgb(243.95, 212.5, 212.5);
    --color-flamingo-500: rgb(242, 205, 205);
    --color-flamingo-600: rgb(210.2, 178.75, 181.15);
    --color-flamingo-700: rgb(178.4, 152.5, 157.3);
    --color-flamingo-800: rgb(146.6, 126.25, 133.45);
    --color-flamingo-900: rgb(114.8, 100, 109.6);
    --color-flamingo-950: rgb(83, 73.75, 85.75);
    --color-pink-50: rgb(252.5, 239.75, 249);
    --color-pink-100: rgb(251, 230.6, 245.4);
    --color-pink-200: rgb(249.5, 221.45, 241.8);
    --color-pink-300: rgb(248, 212.3, 238.2);
    --color-pink-400: rgb(246.5, 203.15, 234.6);
    --color-pink-500: rgb(245, 194, 231);
    --color-pink-600: rgb(212.75, 169.4, 203.25);
    --color-pink-700: rgb(180.5, 144.8, 175.5);
    --color-pink-800: rgb(148.25, 120.2, 147.75);
    --color-pink-900: rgb(116, 95.6, 120);
    --color-pink-950: rgb(83.75, 71, 92.25);
    --color-mauve-50: rgb(242, 232.75, 253);
    --color-mauve-100: rgb(234.2, 219.4, 251.8);
    --color-mauve-200: rgb(226.4, 206.05, 250.6);
    --color-mauve-300: rgb(218.6, 192.7, 249.4);
    --color-mauve-400: rgb(210.8, 179.35, 248.2);
    --color-mauve-500: rgb(203, 166, 247);
    --color-mauve-600: rgb(177.05, 145.6, 216.85);
    --color-mauve-700: rgb(151.1, 125.2, 186.7);
    --color-mauve-800: rgb(125.15, 104.8, 156.55);
    --color-mauve-900: rgb(99.2, 84.4, 126.4);
    --color-mauve-950: rgb(73.25, 64, 96.25);
    --color-red-50: rgb(252, 226, 233.25);
    --color-red-100: rgb(250.2, 208.6, 220.2);
    --color-red-200: rgb(248.4, 191.2, 207.15);
    --color-red-300: rgb(246.6, 173.8, 194.1);
    --color-red-400: rgb(244.8, 156.4, 181.05);
    --color-red-500: rgb(243, 139, 168);
    --color-red-600: rgb(211.05, 122.65, 149.7);
    --color-red-700: rgb(179.1, 106.3, 131.4);
    --color-red-800: rgb(147.15, 89.95, 113.1);
    --color-red-900: rgb(115.2, 73.6, 94.8);
    --color-red-950: rgb(83.25, 57.25, 76.5);
    --color-maroon-50: rgb(250, 231.25, 234.25);
    --color-maroon-100: rgb(247, 217, 221.8);
    --color-maroon-200: rgb(244, 202.75, 209.35);
    --color-maroon-300: rgb(241, 188.5, 196.9);
    --color-maroon-400: rgb(238, 174.25, 184.45);
    --color-maroon-500: rgb(235, 160, 172);
    --color-maroon-600: rgb(204.25, 140.5, 153.1);
    --color-maroon-700: rgb(173.5, 121, 134.2);
    --color-maroon-800: rgb(142.75, 101.5, 115.3);
    --color-maroon-900: rgb(112, 82, 96.4);
    --color-maroon-950: rgb(81.25, 62.5, 77.5);
    --color-peach-50: rgb(253.75, 236, 225);
    --color-peach-100: rgb(253, 224.6, 207);
    --color-peach-200: rgb(252.25, 213.2, 189);
    --color-peach-300: rgb(251.5, 201.8, 171);
    --color-peach-400: rgb(250.75, 190.4, 153);
    --color-peach-500: rgb(250, 179, 135);
    --color-peach-600: rgb(217, 156.65, 121.65);
    --color-peach-700: rgb(184, 134.3, 108.3);
    --color-peach-800: rgb(151, 111.95, 94.95);
    --color-peach-900: rgb(118, 89.6, 81.6);
    --color-peach-950: rgb(85, 67.25, 68.25);
    --color-yellow-50: rgb(253.5, 247.75, 235);
    --color-yellow-100: rgb(252.6, 243.4, 223);
    --color-yellow-200: rgb(251.7, 239.05, 211);
    --color-yellow-300: rgb(250.8, 234.7, 199);
    --color-yellow-400: rgb(249.9, 230.35, 187);
    --color-yellow-500: rgb(249, 226, 175);
    --color-yellow-600: rgb(216.15, 196.6, 155.65);
    --color-yellow-700: rgb(183.3, 167.2, 136.3);
    --color-yellow-800: rgb(150.45, 137.8, 116.95);
    --color-yellow-900: rgb(117.6, 108.4, 97.6);
    --color-yellow-950: rgb(84.75, 79, 78.25);
    --color-green-50: rgb(232.75, 248, 231.5);
    --color-green-100: rgb(219.4, 243.8, 217.4);
    --color-green-200: rgb(206.05, 239.6, 203.3);
    --color-green-300: rgb(192.7, 235.4, 189.2);
    --color-green-400: rgb(179.35, 231.2, 175.1);
    --color-green-500: rgb(166, 227, 161);
    --color-green-600: rgb(145.6, 197.45, 143.75);
    --color-green-700: rgb(125.2, 167.9, 126.5);
    --color-green-800: rgb(104.8, 138.35, 109.25);
    --color-green-900: rgb(84.4, 108.8, 92);
    --color-green-950: rgb(64, 79.25, 74.75);
    --color-teal-50: rgb(228.25, 247.75, 244.5);
    --color-teal-100: rgb(212.2, 243.4, 238.2);
    --color-teal-200: rgb(196.15, 239.05, 231.9);
    --color-teal-300: rgb(180.1, 234.7, 225.6);
    --color-teal-400: rgb(164.05, 230.35, 219.3);
    --color-teal-500: rgb(148, 226, 213);
    --color-teal-600: rgb(130.3, 196.6, 187.95);
    --color-teal-700: rgb(112.6, 167.2, 162.9);
    --color-teal-800: rgb(94.9, 137.8, 137.85);
    --color-teal-900: rgb(77.2, 108.4, 112.8);
    --color-teal-950: rgb(59.5, 79, 87.75);
    --color-sky-50: rgb(225.5, 246.25, 250);
    --color-sky-100: rgb(207.8, 241, 247);
    --color-sky-200: rgb(190.1, 235.75, 244);
    --color-sky-300: rgb(172.4, 230.5, 241);
    --color-sky-400: rgb(154.7, 225.25, 238);
    --color-sky-500: rgb(137, 220, 235);
    --color-sky-600: rgb(120.95, 191.5, 206.65);
    --color-sky-700: rgb(104.9, 163, 178.3);
    --color-sky-800: rgb(88.85, 134.5, 149.95);
    --color-sky-900: rgb(72.8, 106, 121.6);
    --color-sky-950: rgb(56.75, 77.5, 93.25);
    --color-sapphire-50: rgb(220.25, 241, 250.25);
    --color-sapphire-100: rgb(199.4, 232.6, 247.4);
    --color-sapphire-200: rgb(178.55, 224.2, 244.55);
    --color-sapphire-300: rgb(157.7, 215.8, 241.7);
    --color-sapphire-400: rgb(136.85, 207.4, 238.85);
    --color-sapphire-500: rgb(116, 199, 236);
    --color-sapphire-600: rgb(103.1, 173.65, 207.5);
    --color-sapphire-700: rgb(90.2, 148.3, 179);
    --color-sapphire-800: rgb(77.3, 122.95, 150.5);
    --color-sapphire-900: rgb(64.4, 97.6, 122);
    --color-sapphire-950: rgb(51.5, 72.25, 93.5);
    --color-blue-50: rgb(225.5, 236.25, 253.75);
    --color-blue-100: rgb(207.8, 225, 253);
    --color-blue-200: rgb(190.1, 213.75, 252.25);
    --color-blue-300: rgb(172.4, 202.5, 251.5);
    --color-blue-400: rgb(154.7, 191.25, 250.75);
    --color-blue-500: rgb(137, 180, 250);
    --color-blue-600: rgb(120.95, 157.5, 219.4);
    --color-blue-700: rgb(104.9, 135, 188.8);
    --color-blue-800: rgb(88.85, 112.5, 158.2);
    --color-blue-900: rgb(72.8, 90, 127.6);
    --color-blue-950: rgb(56.75, 67.5, 97);
    --color-lavender-50: rgb(236.25, 238.75, 254.75);
    --color-lavender-100: rgb(225, 229, 254.6);
    --color-lavender-200: rgb(213.75, 219.25, 254.45);
    --color-lavender-300: rgb(202.5, 209.5, 254.3);
    --color-lavender-400: rgb(191.25, 199.75, 254.15);
    --color-lavender-500: rgb(180, 190, 254);
    --color-lavender-600: rgb(157.5, 166, 222.8);
    --color-lavender-700: rgb(135, 142, 191.6);
    --color-lavender-800: rgb(112.5, 118, 160.4);
    --color-lavender-900: rgb(90, 94, 129.2);
    --color-lavender-950: rgb(67.5, 70, 98);
    --color-text: rgb(205, 214, 244);
    --color-subtext1: rgb(186, 194, 222);
    --color-subtext0: rgb(166, 173, 200);
    --color-overlay2: rgb(147, 153, 178);
    --color-overlay1: rgb(127, 132, 156);
    --color-overlay0: rgb(108, 112, 134);
    --color-surface2: rgb(88, 91, 112);
    --color-surface1: rgb(69, 71, 90);
    --color-surface0: rgb(49, 50, 68);
    --color-base: rgb(30, 30, 46);
    --color-mantle: rgb(24, 24, 37);
    --color-crust: rgb(17, 17, 27);
  }
}

:root {
  background-color: var(--color-base);
}
